@font-face {
    font-family: 'poppinsmedium';
    src: url('font/poppins-medium-webfont.woff2') format('woff2'), url('font/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'poppinsmedium';
}

.nav {
    background-color: #971700;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1000;
}

.logo {
    width: 20%;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    align-items: center;
}

li {
    margin-right: 30px;
    margin-top: 1%;
}

a {
    color: white;
    font: Helvetica;
    font-size: 35px;
}

.header {
    width: 100%;
    height: 50vh;
    background-image: url(img/bannertest.jpg);
    background-color: rgba(255, 255, 255, 0.26);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.212);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    border-radius: 10px;
}

span {
    color: rgb(151, 23, 0);
    ;
}

.flex {
    display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 100%;
    height: 333px;
}

.hh {
    display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 100%;
    height: 333px;
    align-items: center;
    text-align: center;
    border-top: solid 1px rgb(151, 23, 0);
    border-bottom: solid 1px rgb(151, 23, 0);
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.slider {
    margin-top: -15px;
    width: 500px;
    height: 333px;
    border-radius: 15px;
    overflow: hidden;
}

.slides {
    margin: 0;
    padding: 0;
    width: calc(540px * 4);
    animation: glisse 10s infinite;
}

@keyframes glisse {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-505px);
    }
    35% {
        transform: translateX(-505px);
    }
    50% {
        transform: translateX(-1010px);
    }
    60% {
        transform: translateX(-1010px);
    }
    75% {
        transform: translateX(-1515px);
    }
    90% {
        transform: translateX(-1515px);
    }
    100% {
        transform: translateX(0px);
    }
}

.pict1 {
    height: 90vh;
    text-align: center;
    background-image: url(img/texture.jpg);
    background-repeat: repeat-x repeat-y;
    background-size: 40%;
    display: flex;
}

.blackpic {
    background-color: rgba(0, 0, 0, 0.432);
}

.center {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.paral {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.tailor {
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 5%;
    width: 80%;
    height: 300px;
    background-image: url(img/tailoring.jpg);
}

.design {
    color: white;
    font-size: 25px;
    margin: auto;
    margin-top: 8%;
    width: 80%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0);
}

.bottom {
    margin-top: 5%;
}

.ready {
    border-radius: 15px;
    margin-top: -3%;
    width: 500px;
    height: 333px;
    background-image: url(img/readytoclic.jpg);
}

.conclud {
    color: black;
    font-size: 20px;
}


/* @media screen and (max-width: 1149px) {
    .header {
        background-size: 120%;
    }
} */

@media screen and (max-width: 1031px) {
    .flexdir {
        flex-direction: column;
    }
}

@media screen and (max-width: 861px) {
    .header {
        background-size: 130%;
    }
}

@media screen and (max-width: 833px) {
    .header {
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    .title {
        flex-direction: column;
        padding-top: 10%;
    }
}